<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<style> body {
    background-color: #D8BFD8;
} </style>
<header>
    <h1 style="text-align: center;">Welcome to my java homework page!</h1>
</header>

<main>
    <p style="text-align: center;">This is my resolve of task 2.3.1. from Java pre-project course.</p>
    <p style="text-align: center;">Click on the link below to go to the user list page.</p>
    <p style="text-align: center;">
        <a href="users">User list</a>
    </p>
</main>
</body>
</html>