<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<style> body {
    background-color: #FFE4B5;
} </style>
<h2 style="text-align: center;">User</h2>
<form method="get">
    <h4 style="text-align: center;">
        User's id:
        <span th:utext="${user.id}"></span>
        <br>
        User's name:
        <span th:utext="${user.name}"></span>
        <br>
        User's email:
        <span th:utext="${user.email}"></span>
        <br>
        User's age:
        <span th:utext="${user.age}"></span>
    </h4>
</form>
<form style="text-align: center;" th:action="@{update/{id}(id=${user.id})}">
    <input type="submit" value="Edit" style="background-color: green; color: white;"/>
</form>
<p style="text-align: center;">
    <a th:href="@{/users}">Go to User list</a>
</p>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Выйти</button>
</form>
</body>
</html>
